<form class="form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input 
      matInput 
      type="text" 
      formControlName="email"
    />
    @if(email.invalid) {
      <mat-error>{{ emailError() }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input 
      matInput 
      type="password"
      formControlName="password"
    />
    @if(email.invalid) {
      <mat-error>{{ passwordError() }}</mat-error>
    }
  </mat-form-field>
  <div class="form__helpers">
    <mat-checkbox formControlName="rememberMe">Remember</mat-checkbox>
    <a href="#" class="helpers__link">Forgot password</a>
  </div>
  <button type="submit" mat-flat-button [disabled]="isDisabled()">
    Login
    @if (isDisabled() && isLoading()) {
      <span class="button--loading">...</span>
    }
  </button>
</form>