<div class="login__logo">
  <img src="https://ucarecdn.com/5330ef77-7ab5-49bf-805f-d00e10273cc3/" width="80" alt="">
</div>
<div class="login">
  <div class="login__header">
    <p class="login__title">Sing In</p>
    <p class="login__description">Dolor dolor lobortis et iriure eros. </p>
  </div>
  <div class="login__container__buttons">
    <button mat-flat-button class="container__button">
      Sign In
    </button>
    <button mat-flat-button class="container__button">
      Sign Up
    </button>
  </div>
  <form class="login__form">
    <div class="form__group">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput/>
      </mat-form-field>
    </div>
    <div class="form__helpers">
      <a href="#" class="form__helper">Forgot password?</a>
      <input type="checkbox">
    </div>
    <button type="submit" class="button--submit" mat-flat-button>Login</button>
  </form>
</div>