<form class="form" [formGroup]="signInForm" (ngSubmit)="submit()">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input 
      matInput 
      type="text" 
      formControlName="username"
    />
    @if(username.invalid) {
      <mat-error>{{ usernameError() }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input 
      matInput 
      type="password" 
      formControlName="password"
    />
    @if(username.invalid) {
      <mat-error>{{ passwordError() }}</mat-error>
    }
  </mat-form-field>
  <div class="form__helpers">
    <mat-checkbox formControlName="rememberMe">Remember</mat-checkbox>
    <a href="#" class="helpers__link">Forgot password</a>
  </div>
  <button type="submit" mat-flat-button [disabled]="signInForm.invalid">
    <mat-icon fontIcon="progress_activity"></mat-icon>
    Login
  </button>
</form>