@let display = observer();
@let isSmall = display === 'Small' || display === 'XSmall';
@let isMedium = display === 'Medium';
@let isLarge = display === 'Large' || display === 'XLarge';

<div class="container">
  <div
    class="container__wrapper"
    [ngClass]="{
      'container--small': isSmall,
      'container--medium': isMedium,
      'container--large': isLarge
    }"
  >
    <div class="container__block">
      <app-login/>
    </div>
    <div 
      class="container__block"
      [ngClass]="{
        'container__block--hidden': isSmall,
      }"
    >
      <app-newsletters/>
    </div>    
  </div>
</div>