<layout-main>
  <div class="container__wrapper">
    <div class="profile">
      <div class="profile__header">
        <div class="profile__banner"></div>
        <div class="profile__picture"></div>
        <div class="profile__user-info">
          <h1 class="user-info__username">Lorem...</h1>
          <span class="user-info__location">Lorem...</span>
        </div>
      </div>
      <div class="profile__container">
        <div class="profile__user-details">
          <span class="profile__user-title">Lorem...</span>
          <span class="profile__user-desc">Lorem...</span>
        </div>
        <hr class="profile__divider"/>
        <div class="profile__personal-info">
          <span class="profile__user-title">Lorem...</span>
          <span class="profile__user-desc"></span>
          <div class="profile__personal-info__inputs">
            <div class="profile__user-input"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</layout-main>