<layout-main>
  <div class="container__wrapper">
    <div class="profile__header">
      <div class="profile__banner__wrapper">
        
      </div>
      <div class="profile__subheader">
        <div class="profile__picture__wrapper">

        </div>
        <div class="profile__primitive__info">
          <h1 class="primitive__username">Lorem...</h1>
          <span class="primitive__location"></span>
        </div>
      </div>
    </div>
    <div class="profile__body">
      <div class="profile__user__info">
        <div class="profile__user__wrapper">
          <div class="user__info">
            <span>Lorem...</span>
          </div>
        </div>
      </div>
      <hr class="profile--divider"/>
      <div class="profile__personal__info">
        <div class="profile__personal_wrapper">
          <span>Lorem...</span>
        </div>
      </div>
    </div>
  </div>
</layout-main>