.container {
  background-color: var(--mat-sys-surface-bright);
  min-width: auto;
  min-height: auto;
}

.container__wrapper {
  width: auto;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: minmax(30%, 2fr) 3fr;
  grid-template-rows: auto;
}

.container__block {
  height: 100%;
  padding: 1rem 2rem;
}