/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}

html, body { 
  height: 100%; 
}

body { 
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}