<form class="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input 
      matInput
      type="text" 
      formControlName="username"
    />
    @if(username.invalid) {
      <mat-error>{{ usernameError() }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input 
      matInput
      type="email" 
      formControlName="email"
    />
    @if(username.invalid) {
      <mat-error>{{ usernameError() }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input 
      matInput
      type="password"
      formControlName="password"
    />    
    @if(password.invalid) {
      <mat-error>{{ passwordError() }}</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input 
      matInput
      type="password"
      formControlName="confirmPassword"
    />
    @if(confirmPassword.invalid) {
      <mat-error>{{ confirmPasswordError() }}</mat-error>
    }
  </mat-form-field>
  <button type="submit" mat-flat-button [disabled]="signUpForm.invalid">
    Register
  </button>
</form>